=begin
#TTM for Jira

#Tricentis Test Management for Jira

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.50
=end

module TricentisTmApi
  class ProjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Jira project(s).
    # ## Get or retrieve Jira project(s).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keys keys.
    # @option opts [Integer] :offset Numeric value that determines that the result list will start from result #N (zero based)
    # @option opts [Integer] :limit Numeric value that determines that maximum N results will be returned
    # @return [Array<InlineResponse2007>]
    def v1_projects_get(opts = {})
      data, _status_code, _headers = v1_projects_get_with_http_info(opts)
      data
    end

    # Get Jira project(s).
    # ## Get or retrieve Jira project(s).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keys keys.
    # @option opts [Integer] :offset Numeric value that determines that the result list will start from result #N (zero based)
    # @option opts [Integer] :limit Numeric value that determines that maximum N results will be returned
    # @return [Array<(Array<InlineResponse2007>, Integer, Hash)>] Array<InlineResponse2007> data, response status code and response headers
    def v1_projects_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.v1_projects_get ...'
      end
      # resource path
      local_var_path = '/v1/projects'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keys'] = opts[:'keys'] if !opts[:'keys'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<InlineResponse2007>' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#v1_projects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
